
.new-tweet {
  width: 90%;
  margin: auto;
}

.new-tweet h2{
  font-size: 1em;
  margin-top: 30px;
}

label[for="tweet-text"] {
  visibility: hidden;
}

.new-tweet p {
  width: 80%;
  border: 2px solid #428792;
  text-align: center;
  color: rgb(180, 17, 17);
  display: none;
}

.new-tweet textarea {
  background-color: #b0c4c7;
  border: none;
  border-bottom: 2px solid #a80515;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0.5em;
  resize: none;
}

.new-tweet button{
  font-family: "Bungee";
  color: #FFFFFF;
  background-color: #dfb709;
}

.counter {
  font-family: "Bungee";
  color: #dbdbd7ee;
}

.submit-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1 em;
}

.red {
  color: rgb(180, 17, 17);
}
