.tweet-container {
  width: 85%;
  height: 100%;
  border: 2px solid black;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto 2em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.6em;
  padding: 1em;
}

.tweet-container > header {
  display: flex;
  align-items: center;
  column-gap: 0.25em;
}

.tweet-container .user-id {
  margin-left: auto;
  color: #bd2ec9;
  font-weight: 600;
}

.tweet-container > footer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #6923c4;
  padding-top: 0.5em;
  font-size: 0.75em;
}

.tweet-actions {
  display: flex;
  column-gap: 0.8em;
}

.tweet-actions a {
  text-decoration: none;
  color: inherit;
}

.tweet-container:hover {
  box-shadow: 3px 3px 0;
  color: #ed9079;
}

.tweet-actions a:hover {
  color: #C0C0C0;
}